* {
  /* This directive changes every element's padding behavior. */
  /* Widths will be *inclusive* of padding and borders, which makes them more predictable. */
  box-sizing: border-box;
}

body {
  /* These text styles will cascade through every child of the body, unless they are overridden. */
  /* If Arial is not found, use the browser's fallback sans-serif font. */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000000;

  margin: 0;
  padding: 0;
}

.site-view {
  /* This lets us arrange the child elements of the main view in a row. */
  display: flex;
  flex-direction: row;
}

nav {
  /* The `flex` attribute controls the width of the column *relative* to other columns. */
  /* Since the total `flex` attributes sum to 10, the nav will take up 20% of the horizontal width. */
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-evenly;
  bottom: 0;
  width: 100%;
  background-color: #F0F0F0;
  text-align: center;
}

/* Style all link tags within nav elements */
nav a {
  font-size: 16px;
  padding: 8px;
  top: 50%;
  display: block;
  width: 100%;
  color: #8b8b8b;
}

/* Style all icons within nav elements */
nav a i {
  font-size: 32px; 
  position: absolute; 
  top: -30px; 
  color: inherit; 
}

/* Default style for nav links
.nav-link {
  top: 50%;
  display: block;
  width: 100%;
  color: #8b8b8b;
}

/* Default style for nav link icons */
/* .nav-link i {
  font-size: 32px;
  position: absolute;
  top: -30px;
  color: inherit;
} */ 

/* Style for active nav link */
nav a.active {
  color: #F16291;
}

/* Style for active nav link icon */
nav a.active i {
  color: #F16291;
}

/* Makes sure affected elements don't exceed the bounds of their container. */
/* Handy for images! */
.responsive {
  max-width: 100%;
  max-height: 100%;
}

/* This can be handy for centering content, but doesn't work if we don't set */
/* the width of the element first. */
/* Flexbox is a lot more, well, flexible! */
.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main {
  background-color: white;
  flex: 6;
  padding: 0 20px;
}


footer {
  background-color: #eafeff;
  flex: 2;
  padding: 15px;
}

@media only screen and (max-width: 720px) {
  /* For mobile phones. Try resizing your browser window or using developer tools to trigger this responsive layout! */
  .site-view {
    /* The main sections are still in a Flexbox layout; this just changes the Flexbox configuration */
    /* so that adjacent elements will render vertically instead of horizontally. */
    flex-direction: column;
    /* flex-direction: row; */
  }

  /* .bi {
    
  } */

  nav a {
    font-size: 8px;
  }

  nav a i {
    font-size: 16px;
  }
}

  
  .dashboard {
    text-align: center;
    
  }
  
  .header h1 {
    margin-bottom: 20px;
  }
  
  .profile {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .avatar-container {
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #E91E63;
  }
  
  .avatar {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: #E91E63;
    display: block;
  }
  
  .name {
    color: black;
    margin-top: 20px;
  }
  
  .menu button {
    background: #FBD0DE;
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 3px;
    font-size: 10px;
    color: black;
    cursor: pointer;
    outline: none;
  }
  
  .menu button:hover {
    background: #E91E63;
    color: #fff;
  }

  /* Demonstrate a "mostly customized" scrollbar
 * (won't be visible otherwise if width/height is specified) */
.mostly-customized-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa; /* or add it to the track */
}

/* Add a thumb */
.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
  background: #000;
}

  .profile-info {
    background: #FBD0DE;
    border: 1.5px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    margin-top: 20px;
    font-size: 10px;
    color: black;
    cursor: pointer;
    outline: none;
    height: 500px;
  
    position: relative;
   
  

    display: block;
    

    overflow-y: scroll;


    margin: 1em auto;
    scroll-margin-right: 20px;
    
    
  }

h5 {
  text-align: left;
  margin-bottom: 3px;
  margin-top: 10px;
}

.content {
    height: 100%;
    overflow-y: scroll;
    padding: 10px;
    width: 95%;
    float: left;
}

.scrollbar-background {
  height: 100%;
  background-color: #F16291;
  width: 20px;
  float: right;
  position:absolute;
  right: 15px;
  top: 10px;
  bottom: 10px;

}

p {
    text-align: left;
    margin: 0px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tags span {
    background: none;
    border: 1px solid #E91E63;
    border-radius: 20px;
    padding: 4px 8px;

    font-size: 9px;
    color: black;
    cursor: pointer;
    outline: none;
}


/* Demonstrate a "mostly customized" scrollbar
 * (won't be visible otherwise if width/height is specified) */
 .profile-info::-webkit-scrollbar {
 

  background-color: #F16291; /* or add it to the track */

  height: 90%;
  width: 20px;
  float: right;
  position:absolute;
  right: 10;
  top: 10px;
  bottom: 10px;
  scroll-margin-right: 20px;

}

/* Add a thumb */
.profile-info::-webkit-scrollbar-thumb {
  background: black;
  height: 2em;
}



  
