* {
  /* This directive changes every element's padding behavior. */
  /* Widths will be *inclusive* of padding and borders, which makes them more predictable. */
  box-sizing: border-box;
}

body {
  /* These text styles will cascade through every child of the body, unless they are overridden. */
  /* If Arial is not found, use the browser's fallback sans-serif font. */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000000;

  margin: 0;
  padding: 0;
}

.site-view {
  /* This lets us arrange the child elements of the main view in a row. */
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

nav {
  /* The `flex` attribute controls the width of the column *relative* to other columns. */
  /* Since the total `flex` attributes sum to 10, the nav will take up 20% of the horizontal width. */
  display: flex;
  position: fixed;
  justify-content: space-evenly;
  bottom: 0;
  width: 100%;
  background-color: #F0F0F0;
  text-align: center;
  z-index: 1;
}

/* Style all link tags within nav elements */
nav a {
  font-size: 16px;
  padding: 8px;
  top: 50%;
  display: block;
  width: 100%;
  color: #8b8b8b;
}

/* Style all icons within nav elements */
nav a i {
  font-size: 32px; 
  position: absolute; 
  top: -30px; 
  color: inherit; 
}

/* Style for active nav link */
nav a.active {
  color: #F16291;
}

/* Style for active nav link icon */
nav a.active i {
  color: #F16291;
}

/* Style for Google Map API Container, sized to fit above nav bar*/
.map-container {
  flex: 1; /* Make the map container expand to fill remaining space */
  position: absolute; /* Position absolutely within the site-view container */
  top: 0; /* Position at the top of the site-view container */
  left: 0; /* Position at the left of the site-view container */
  width: 100%; /* Occupy full width */
  height: calc(100% - 40px); /* Subtract the height of the nav bar */
  z-index: 0; /* Ensure the map stays below the nav bar */
}

/* Style for Google Map API */
#map {
  width: 100%;
  height: 100%;
}

/* Makes sure affected elements don't exceed the bounds of their container. */
/* Handy for images! */
.responsive {
  max-width: 100%;
  max-height: 100%;
}

/* This can be handy for centering content, but doesn't work if we don't set */
/* the width of the element first. */
/* Flexbox is a lot more, well, flexible! */
.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main {
  background-color: white;
  flex: 6;
  padding: 0 20px;

}


footer {
  background-color: #eafeff;
  flex: 2;
  padding: 15px;
}

@media only screen and (max-width: 720px) {
  /* For mobile phones. Try resizing your browser window or using developer tools to trigger this responsive layout! */
  .site-view {
    /* The main sections are still in a Flexbox layout; this just changes the Flexbox configuration */
    /* so that adjacent elements will render vertically instead of horizontally. */
    flex-direction: column;
    /* flex-direction: row; */
  }

  /* .bi {
    
  } */

  nav a {
    font-size: 8px;
  }

  nav a i {
    font-size: 16px;
  }
}

  
  .dashboard {
    text-align: center;
    
  }
  
  h1 {
    margin-top: 20px;

  }
  
  .profile {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .avatar-container {
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #E91E63;
  }
  
  .avatar {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: #E91E63;
    display: block;
  }
  
  .name {
    color: black;
    margin-top: 20px;
  }
  
  .menu button {
    background: #FBD0DE;
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 3px;
    font-size: 10px;
    color: black;
    cursor: pointer;
    outline: none;
  }
  
  .menu button:hover {
    background: #E91E63;
    color: #fff;
  }


  .profile-info {
    background: #FBD0DE;
    border: 1.5px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    margin-top: 20px;
    font-size: 10px;
    color: black;
    cursor: pointer;
    outline: none;
    height: 400px;

    
  }

h5 {
  text-align: left;
  margin-bottom: 3px;
  margin-top: 10px;
}

.content {
    height: 100%;
    padding: 10px;
    width: 95%;
    float: left;
}



p {
    text-align: left;
    margin: 0px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tags span {
    background: none;
    border: 1px solid #E91E63;
    border-radius: 20px;
    padding: 4px 8px;

    font-size: 9px;
    color: black;
    cursor: pointer;
    outline: none;
}



.custom-scroll {
  color: black;
  cursor: pointer;
  outline: none;
  height: 95%;
  overflow-y: scroll;
  margin: 1em auto;
  scroll-margin-right: 20px;
  
}
/* Demonstrate a "mostly customized" scrollbar
 * (won't be visible otherwise if width/height is specified) */
 .custom-scroll::-webkit-scrollbar {
  background-color: #F16291; /* or add it to the track */
  height: 90%;
  width: 20px;
  float: right;
  right: 10;
  top: 10px;
  bottom: 10px;
  scroll-margin-right: 20px;

}

/* Add a thumb */
.custom-scroll::-webkit-scrollbar-thumb {
  background: black;
  height: 2em;
}



  

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.all-trips, .add-button, .back-button {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

.add-button {
  background: #E91E63;
  border-radius: 50%; /* Makes the button round */
  padding: 5px 10px;
  margin-top: 10px;
  margin-left: -110px; /* Spacing between the 'All Trips' and '+' */
  font-size: 1em;
  color: white;
}

.back-button {
  font-weight: bold;
  margin-top: 10px;
  font-size: 1em;
}

.profile-form {
  height: 400px;
  background-color: #fff;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 80%;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* ensures padding doesn't affect overall width */
}

textarea {
  resize: vertical;
}

.checkbox-group {
  display: flex;
  gap: 10px;
  align-items: center;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 5px;
}

.update-button {
  background-color: #e91e63;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 70px;

  display: flex;
  position: fixed;  
  bottom: 20px;    
  transform: translateX(-50%);   
  left: 50%; 
  text-align: center;
  align-items: center;
  z-index: 1000;    
}

.update-button:hover {
  background-color: #c2185b;
}

.card {
  margin: 0 auto;
}

.profile-name-input {
  margin-bottom: 16px;
}

.profile-card {
  max-width: 400px;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 6px;
  margin: 12px auto;
  display: block;
}