* {
  /* This directive changes every element's padding behavior. */
  /* Widths will be *inclusive* of padding and borders, which makes them more predictable. */
  box-sizing: border-box;
}

body {
  /* These text styles will cascade through every child of the body, unless they are overridden. */
  /* If Arial is not found, use the browser's fallback sans-serif font. */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000000;

  margin: 0;
  padding: 0;
}

.site-view {
  /* This lets us arrange the child elements of the main view in a row. */
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

/*
  ////////////////////////////////////////////////////////////////////////////////////
  ************************************************************************************

  NAV BAR STYLING

  ************************************************************************************
  ////////////////////////////////////////////////////////////////////////////////////
*/

nav {
  /* The `flex` attribute controls the width of the column *relative* to other columns. */
  /* Since the total `flex` attributes sum to 10, the nav will take up 20% of the horizontal width. */
  display: flex;
  position: fixed;
  justify-content: space-evenly;
  bottom: 0;
  width: 100%;
  background-color: #F0F0F0;
  text-align: center;
  z-index: 1;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

}

/* Style all link tags within nav elements */
nav a {
  font-size: 16px;
  padding: 8px;
  top: 50%;
  display: block;
  width: 100%;
  color: #8b8b8b;
}

/* Style all icons within nav elements */
nav a i {
  font-size: 32px; 
  position: absolute; 
  top: -30px; 
  color: inherit; 
}

/* Style for active nav link */
nav a.active {
  color: #F16291;
}

/* Style for active nav link icon */
nav a.active i {
  color: #F16291;
}


/*
  ////////////////////////////////////////////////////////////////////////////////////
  ************************************************************************************

  MAP SECTION STYLING

  ************************************************************************************
  ////////////////////////////////////////////////////////////////////////////////////
*/

/* Style for Google Map API Container, sized to fit above nav bar*/
.map-container {
  flex: 1; /* Make the map container expand to fill remaining space */
  position: absolute; /* Position absolutely within the site-view container */
  top: 0; /* Position at the top of the site-view container */
  left: 0; /* Position at the left of the site-view container */
  width: 100%; /* Occupy full width */
  height: 100vh; /* Subtract the height of the nav bar */
  z-index: 0; /* Ensure the map stays below the nav bar */
}

/* Style for Google Map API */
#map {
  width: 100%;
  height: 100%;
}

/* Style for all map buttons */
.map-buttons {
  position: absolute; /* Position the custom buttons relative to the map */
  top: 20px; /* Adjust top position as needed */
  right: 15px; /* Adjust right position as needed */
  z-index: 1; /* Ensure buttons are above the map */
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  align-items: flex-end; /* Align buttons to the right */
}

/* Style for each individual map button */
.map-button {
  background-color: #FBD0DE;
  border: 1px solid #ccc;
  filter: drop-shadow(0px 2px rgb(159, 159, 159));
  border-radius: 50%; 
  width: 50px;
  height: 50px; 
  padding: 0; 
  margin-bottom: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style for each individual map button's symbol */
.map-button i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  width: 100%;
  height: 100%;
}

/* Style for search bar */
.search-bar {
  position: absolute; /* Position the custom buttons relative to the map */
  top: 20px; /* Adjust top position as needed */
  left: 15px; /* Adjust right position as needed */
  z-index: 1; /* Ensure buttons are above the map */
  align-items: flex-start; /* Align buttons to the right */
}

.search-bar-hidden {
  display: none;
}

.search-bar-visible {
  display: block;
}

/* Style for search bar input*/
.search-bar input[type="text"] {
  border-radius: 50px; /* Adjust the border-radius to make it rounded */
  border-color: #b6b6b6; /* Optional: Adjust border color */
  margin-top: 5px; /* Adjust the margin from the top of the container */
  width: 77vw;
}

.search-bar input[type="text"]:focus {
  border-color: #f16291; /* Optional: Adjust border color on focus */
}

/*
  ////////////////////////////////////////////////////////////////////////////////////

  END OF MAP SECTION STYLING

  ////////////////////////////////////////////////////////////////////////////////////
*/

/* Makes sure affected elements don't exceed the bounds of their container. */
/* Handy for images! */
.responsive {
  max-width: 100%;
  max-height: 100%;
}

/* This can be handy for centering content, but doesn't work if we don't set */
/* the width of the element first. */
/* Flexbox is a lot more, well, flexible! */
.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main {
  background-color: white;
  flex: 6;
  padding: 0 20px;

}

/* A spinning wheel for async functions */
.loader {
  margin: auto;
  border: 5px solid #EAF0F6;
  border-radius: 50%;
  border-top: 5px solid #E91E63;
  width: 30px;
  height: 30px;
  animation: spinner 2s linear infinite;
}
@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/**
* ==============================================
* Dot Flashing
* Credits: https://codepen.io/nzbin/pen/GGrXbp 
* ==============================================
*/
.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #E91E63;
  color: #E91E63;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
  
}

.dot-flashing::before, .dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;

}
.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #E91E63;
  color: #E91E63;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;

}
.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #E91E63;
  color: #E91E63;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;

}

@keyframes dot-flashing {
  0% {
    background-color: #E91E63;
  }
  50%, 100% {
    background-color: rgba(255, 128, 215, 0.2);
  }
}
/* Dot Flashing end of styling */



footer {
  background-color: #eafeff;
  flex: 2;
  padding: 15px;
}

@media only screen and (max-width: 720px) {
  /* For mobile phones. Try resizing your browser window or using developer tools to trigger this responsive layout! */
  .site-view {
    /* The main sections are still in a Flexbox layout; this just changes the Flexbox configuration */
    /* so that adjacent elements will render vertically instead of horizontally. */
    flex-direction: column;
    /* flex-direction: row; */
  }

  /* .bi {
    
  } */

  nav a {
    font-size: 8px;
  }

  nav a i {
    font-size: 16px;
  }
}

  
  .dashboard {
    text-align: center;
    
  }
  
  h1 {
    margin-top: 20px;

  }
  
  .profile {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  

  
  .avatar {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 1.5px solid #E91E63;

  }
  
  .name {
    color: black;
    margin-top: 20px;
  }
  
  /* .menu button {
    background: #FBD0DE;
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 3px;
    font-size: 10px;
    color: black;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
  }
  
  .menu button:hover {
    background: #E91E63;
    color: #fff;
  } */

  /* For all "back" buttons at the top of the screen (below header) */
  .menu-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* justify-content: space-between;
    align-items: center; */
    &.hidden {
      display: none;
    }
  }

  .profile-info {
    background: #FBD0DE;
    border: 1.5px solid black;
    padding: 0px 10px;
    font-size: 10px;
    color: black;
    cursor: pointer;
    outline: none;
    height: 400px;
    border-top: none;
  }

h5 {
  text-align: left;
  margin-bottom: 3px;

}

.content {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    width: 95%;
    float: left;
}



p {
    text-align: left;
    margin: 0px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tags span {
    background: none;
    border: 1px solid #E91E63;
    border-radius: 20px;
    padding: 4px 8px;

    font-size: 9px;
    color: black;
    cursor: pointer;
    outline: none;
}


.regular-scroll {
  padding: 10px;
  height: 95%;
  overflow-y: scroll;

}



.custom-scroll {
  color: black;
  cursor: pointer;
  outline: none;
  height: 95%;
  overflow-y: scroll;
  margin: 1em auto;
  padding-right: 10px;
}
/* Demonstrate a "mostly customized" scrollbar
 * (won't be visible otherwise if width/height is specified) */
 .custom-scroll::-webkit-scrollbar {
  background-color: #F16291; /* or add it to the track */
  height: 90%;
  width: 20px;
  float: right;

}

/* Add a thumb */
.custom-scroll::-webkit-scrollbar-thumb {

  background-color: white;
  border: 3.5px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}



  

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.all-trips, .add-button, .back-button {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

.add-button {
  background: #E91E63;
  border-radius: 50%; /* Makes the button round */
  padding: 5px 10px;
  margin-top: 10px;
  margin-left: -110px; /* Spacing between the 'All Trips' and '+' */
  font-size: 1em;
  color: white;
}

.back-button {
  font-weight: bold;
  margin-top: 10px;
  font-size: 1em;
}

.profile-form {
  display: flex;

  height: 500px;
  background-color: #FBD0DE;
  margin: 20px auto;
  padding-left: 20px;
  padding-right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 90%;
  border: 1.5px solid black;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  
  margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* ensures padding doesn't affect overall width */
}

textarea {
  resize: vertical;
}

.checkbox-group {
  display: flex;
  gap: 10px;
  align-items: center;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 5px;
}

.edit-info {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-content: center;
  
}

.update-button {
  display: flex;
  justify-content: center;
  background-color: #E91E63;
  color: #fff;
  padding: 5px 70px;
  border-radius: 10px;
  cursor: pointer;   
}

.update-button:hover {
  background-color: #c2185b;
}



.profile-name-input {
  margin-bottom: 16px;
}



.profile-pic {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 1.5px solid #E91E63;
  margin-top: 15px;
}

.content-container {
  display: flex;
  flex-direction: column;  
  align-items: center;     
  width: 100%;      
  justify-content: space-evenly;
  height: 100%;
}

.screen-container {
  display: flex;
  flex-direction: column;  
  align-items: center;     
  width: 100%;      
  justify-content: space-evenly;
  height: 100%;
}

.edit {
  padding-top: 1mm;
}

/* Mobile Tabs */
.mobile-tabs li {
  font-size: 14px;
  font-weight: 400;
  color: rgb(142, 142, 142);
  line-height: 18px;
  text-align: center;
}
.mobile-tabs li div {
  font-weight: 600;
  color: rgb(38, 38, 38);
}
.mobile-tabs ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 12px 0;
  border-top: 1px solid rgb(219, 219, 219);
}
.tabSection {
  background: #FBD0DE;
  border-right: 1.5px solid black;
  border-top: 1.5px solid black;
  fill: gray;
  display: flex;
  justify-content: space-around;
  height: 44px;
  align-items: center;
}

.tabSection a {
  display: flex;
  justify-content: space-around;
  height: 44px;
  align-items: center;
}


.tabSection.tab-link {
  border-bottom: black;
}

a.tab-link  {
  border-left: 1.5px solid black;
  width: 150%;
  border-bottom: 1.5px solid black;
}

a.tab-link.active-tab  {
  width: 150%;
  border-bottom: 1.5px solid #FBD0DE;
}

.tab-link.active-tab svg {
  fill: #F16291;

}


/* Gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}
@media only screen and (max-width: 735px) {
  .gallery {
    gap: 3px;
  }
}
.gallery-item {
  position: relative;
}
.gallery-item img {
  width: 100%;
  display: block;
}
.gallery-item .media-icon {
  position: absolute;
  top: 0px;
  right: 0px;
}
